.header_img{
    width:300px;
}

header ul{
    display:flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
}

header li{
    list-style: none;
    margin-right: 60px;
}

.main-container{
    display: flex;
    width: 100%;

}

.left{
    width: 70%;
}

h1{border-left:5px solid black;
   border-bottom:2px solid gray;
  }

.bookstore{
   width:100%;
  }

.p{
  font-size:20px;
}

.box{
    width:100%;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.box_pic{
    width:25%;
    margin-top: 20px;
    text-align:center;
}

.box_pic img{
    width:78%
}

.box_pic p{
    margin-top: -5px;
}


.right{
    width: 28%;
    margin-left:2%;
}

h2{
    font-size: 30px;
    border-bottom:2px solid gray;
}

footer{
    padding: 15px 0;
    text-align: center;
    color:white;
    background-color: black;
}